@import url("https://fonts.googleapis.com/css?family=Glegoo:700|Glegoo:400");

:root {
  --text: #eaedf3;
  --background: #0c1118;
  --primary: #99adcf;
  --secondary: #30476e;
  --accent: #6284c0;
}

body {
  margin: 0;
  font-family: "Glegoo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Glegoo", serif;
  font-weight: 700;
}

h1 {
  font-size: 4.21rem;
}
h2 {
  font-size: 3.158rem;
}
h3 {
  font-size: 2.369rem;
}
h4 {
  font-size: 1.777rem;
}
h5 {
  font-size: 1.333rem;
}
small {
  font-size: 0.75rem;
}
